


 /*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /*  ///////////////////////////////////////   PROPERTY DETAILS    //////////////////////////////////////  */

  
  .card{

    width: 100%;
    border: none;
    border-radius: 1em;
    padding: 1em;
    background-color: var(--white-color);
    position: relative;
    /* height: 370px; */
   }

   .upper{

    height: 5em;

   }

   .upper img{

    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

   }

   .user{
    position: relative;
   }

   .profile img{

    
    height: 6em;
    width: 6em;
    margin-top:2px;

   
   }

   .profile{

    position: absolute;
    top:-50px;
    left: 38%;
    height: 6.5em;
    width: 6.8em;
    border: 3px solid var(--white-color);

    border-radius: 50%;

   }

   .follow button{
    margin-bottom: 1em;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    box-shadow: 0 2px 2px color-mix(in srgb, var(--text-color), transparent 80%);
   }

   .follow button:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.4em;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
   }


   
   .follow .number_btn{
    font-weight: 500;
    color: var(--main-color);
    background-color: color-mix(in srgb, var(--main-color), transparent 90%);
    border: none !important;
    box-shadow: 0 2px 2px color-mix(in srgb, var(--main-color), transparent 80%);
   }


   .stats span{

    font-size: 29px;
   }

   
   .exp_amount {

    color: var(--main-color);
   }


   .info .owner_loc {

    color: var(--text-color);
   }




   
   .follow a{
    margin-bottom: 1em;
    color: var(--white-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    box-shadow: 0 2px 2px color-mix(in srgb, var(--text-color), transparent 80%);
   }

   .follow a:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.4em;
    height: 35px;
   }




/* ///////////////////////////////////////////////////////////////////////////////// */

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 3em;
  font-weight: 300;
  color: var(--main-color);
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.buttons {
  top: 36px;
  position: relative
}

.rating-submit {
  border-radius: 8px;
  color: var(--white-color);
  height: auto
}

.rating-submit:hover {
  color: var(--white-color);
}

/* .prop_detail {
    height: 30vh;
}


.prop_detail .heading{
    margin-bottom: 0;
}


.prop_detail .breadcrumbs .container{
    margin: 0;
} */



/*****************globals*************/

/* img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
   */
   
